body {
  margin: 0;
  padding: 0;
  background-image: url('./img/rabit.png');
  background-size: auto;
}

@font-face {
	font-family: "googlePacifico";
	src: url(./fonts/Pacifico/Pacifico-Regular.ttf);
}

:root {
	--font-googlePacifico: "googlePacifico";
}